
.calculadora {
    background: pink;
    width: 200px;
    padding:  10px;
    border-radius: 10px;
    text-align: center;
}
.calculadora input  {
    background: blue;
    color: seagreen;
    padding: 5px;
    border-radius: 5px;
}
#spTotal {
    background: black;
    color: aqua;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
}
.calculadora button{
    background: purple;
    color: white;
    padding: 8px;
    border-radius: 8px;
    margin-top: 10px;
}
.calculadora button:hover{
    background: brown;
    color: beige;
    cursor: pointer;

}
